.modal {
  position: fixed;
  top: 0;
  left: 0;

  background-color: #242424;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  padding: 1rem;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 20px;
  left: 20px
}