.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.itemCarouselContainer {
  height: 100%;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.itemCarousel {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 1rem 3rem;
  position: relative;

}

.itemCarousel::-webkit-scrollbar {
  display: none;
}

.navigation {
  padding: 0.7rem;
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  position: absolute;
  height: 100%;
  top: 50%;
  translate: 0 -50%;
  border-radius: 0.5rem;
  border: solid black 3px;
  cursor: pointer;
  z-index: 9;
}

.navigation:hover {
  background-color: rgb(245, 212, 170);
}


#navLeft {
  left: 0
}

#navRight {
  right: 0
}
